<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA31A;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="nav-item navbar-brand" href="/admin">
            <img src="https://ik.imagekit.io/ckb21lc9cd/logo_2pUlNzLGmP.png" width="160" height="50"
                class="d-inline-block align-top" alt="moviehub">
        </a>
        <li class="nav-item active">
            <h2>
                <b>
                    <a class="nav-link" href="/login"> Login </a>
                </b>
            </h2>
        </li>
        <li class="nav-item active">
            <h2>
                <b>
                    <a class="nav-link" href="/logout"> Logout </a>
                </b>
            </h2>
        </li>
    </ul>
</nav>