<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/style.ejs') %>
    <title>Movie Create</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA31A;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a class="nav-item navbar-brand" href="/movies/add">
                <img src="https://ik.imagekit.io/ckb21lc9cd/logo_2pUlNzLGmP.png" width="160" height="50"
                    class="d-inline-block align-top" alt="moviehub">
            </a>
        </ul>
    </nav>
    <br><br>

    <form action="/movies/add" , method="POST">
        <div class="container">
            <div class="container">
                <div class="form-group">
                    <h4 for="title"> Title </h4>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <h4 for="trailer"> Trailer </h4>
                    <input type="text" class="form-control" id="trailer" name="trailer" required>
                </div>
                <div class="form-group">
                    <h4 for="poster"> Poster </h4>
                    <input type="text" class="form-control" id="poster" name="poster" required>
                </div>
                <div class="form-group">
                    <h4 for="director"> Director </h4>
                    <input type="text" class="form-control" id="director" name="director" required>
                </div>
                <div class="form-group">
                    <h4 for="released"> Released </h4>
                    <input type="date" class="form-control" id="released" name="released" required>
                </div>
                <div class="form-group">
                    <h4 for="actor"> Actor </h4>
                    <textarea type="text" class="form-control" id="actor" name="actor" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <h4 for="languages"> Languages </h4>
                    <input type="text" class="form-control" id="languages" name="languages" required>
                </div>
                <div class="form-group">
                    <h4 for="genre"> Genre </h4>
                    <input type="text" class="form-control" id="genre" name="genre" required>
                </div>
                <div class="form-group">
                    <h4 for="synopsis">Synopsis</h4>
                    <textarea class="form-control" id="synopsis" name="synopsis" rows="3" required></textarea>
                </div>
                <br>

                <div>
                    <center>
                        <button type="submit" class="btn btn-outline-success">Add Movie</button>
                        ┃ <a href="/movies"><button type="button" class="btn btn-outline-danger">Cancel</button></a>
                    </center>
                </div>
                <br><br>
            </div>
        </div>
    </form>
</body>

</html>