<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/style.ejs') %>
    <title>Movie Edit</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA31A;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <a class="nav-item navbar-brand" href="">
                <img src="https://ik.imagekit.io/ckb21lc9cd/logo_2pUlNzLGmP.png" width="160" height="50"
                    class="d-inline-block align-top" alt="moviehub">
            </a>
        </ul>
    </nav>
    <br><br>

    <form action="/movies/edit/<%= movie.id %>" , method="POST">
        <div class="container">
            <div class="container">
                <div class="form-group">
                    <h4 for="title"> Title </h4>
                    <input type="text" class="form-control" id="title" value="<%= movie.title %>" name="title">
                </div>
                <div class="form-group">
                    <h4 for="trailer"> Trailer </h4>
                    <input type="text" class="form-control" id="trailer" value="<%= movie.trailer %>" name="trailer">
                </div>
                <div class="form-group">
                    <h4 for="poster"> Poster </h4>
                    <input type="text" class="form-control" id="poster" value="<%= movie.poster %>" name="poster">
                </div>
                <div class="form-group">
                    <h4 for="director"> Director </h4>
                    <input type="text" class="form-control" id="director" value="<%= movie.director %>" name="director">
                </div>
                <div class="form-group">
                    <h4 for="released"> Released </h4>
                    <input type="text" class="form-control" id="released" value="<%= movie.released %>" name="released">
                </div>
                <div class="form-group">
                    <h4 for="actor"> Actor </h4>
                    <input type="text" class="form-control" id="actor" value="<%= movie.actor %>" name="actor">
                </div>
                <div class="form-group">
                    <h4 for="languages"> Languages </h4>
                    <input type="text" class="form-control" id="languages" value="<%= movie.languages %>"
                        name="languages">
                </div>
                <div class="form-group">
                    <h4 for="genre"> Genre </h4>
                    <input type="text" class="form-control" id="genre" value="<%= movie.genre %>" name="genre">
                </div>
                <div class="form-group">
                    <h4 for="synopsis">Synopsis</h4>
                    <input class="form-control" id="synopsis" value="<%= movie.synopsis %>" name="synopsis">
                </div>
                <br>

                <div>
                    <center>
                        <button type="submit" class="btn btn-outline-success">Update Movie</button>
                        ┃ <a href="/movies"><button type="button" class="btn btn-outline-danger">Cancel</button></a>
                    </center>
                </div>
                <br><br>
            </div>
        </div>
    </form>
</body>

</html>