<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-image: url('https://images.unsplash.com/photo-1529279363962-3480726a0a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        /* Full-width input fields */

        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=email]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #1EF60F;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        button {
            background-color: #1CDC0F;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }


        .cancelbtn {
            background-color: #FF0000;
            width: auto;
            height: auto;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            color: white;
        }
    </style>

    <%- include('partials/style.ejs') %>
    <title>Login</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <br>

    <% if (err) { %>
    <center>
        <div class="alert alert-danger" role="alert">
            <h3> <%= `password or email wrong` %></h3>
        </div>
    </center>
    <% } %>
    <form style="padding-top: 70px;" action="/login" method="post">

        <div class="container">
            <h2 style="text-align: center; color:whitesmoke;">Login</h2>

            <label for="email" style="color: whitesmoke;"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label for="psw" style="color: whitesmoke;"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <label>
                <input type="checkbox" name="remember"> <label for="rm" style="color: whitesmoke;"><b>Remember
                        me</b></label>
            </label>
        </div>
        <div class=" container">
            <button type="submit">
                Login
            </button>
        </div>

        <center>
            <div class="container">
                <a href="/admin" class="cancelbtn">Cancel</a>
            </div>
        </center>
    </form>

</body>

</html>